extends layout

block content
  form#regFrom.form-signin(method='post', role='form')
    h2.form-signin-heading 用户注册
    .form-group
      label(for='email') 电子邮箱
      input#email.form-control(type='email', name='email', placeholder='电子邮箱',check-type="mail", required, autofocus)
    .form-group
      label(for='nickname') 昵称
      input#nickname.form-control(type='text', name='nickname', placeholder='昵称', required)
    .form-group#verifypass
      label(for='password') 密码
      input#password.form-control(type='password', name='password', placeholder='密码', required)
      label(for='password-repeat') 请重复输入
      input#password-repeat.form-control(type='password', name='password-repeat', placeholder='请重复输入', required, oninput="check(this)")
    button#submitbtn.btn.btn-lg.btn-primary.btn-block(type='submit') 注册
  script.
    function check(input) {
        if (input.value != $('#password').val()) {
            input.setCustomValidity('两次输入的密码不相等.');
        } else {
            input.setCustomValidity('');
       }
    }
  link(rel='stylesheet', href='/stylesheets/signin.css')